<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598904224677-7n2ugq2rn6lbid7g77odj85fpaj8se2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598904224677-7n2ugq2rn6lbid7g77odj85fpaj8se2n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>598904224677-h1jju4s1fnqmofrtne1ihslmf9sr9b0n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCT0CKlF1I_9LeM984FPUhWjgaqymMMqws</string>
	<key>GCM_SENDER_ID</key>
	<string>598904224677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoitstudio.heroestory.ios</string>
	<key>PROJECT_ID</key>
	<string>heroes-story-8e806</string>
	<key>STORAGE_BUCKET</key>
	<string>heroes-story-8e806.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598904224677:ios:87974d5b01bbccb7a1464c</string>
	<key>DATABASE_URL</key>
	<string>https://heroes-story-8e806-default-rtdb.firebaseio.com</string>
</dict>
</plist>